@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(12, 19, 17);
  height: 100vh;
  color: #fefefe;
}

header {
  background-color: rgb(12, 19, 17);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  position: fixed;
  width: 100%;
}

form {
  display: flex;
  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 55px;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  font-size: 32px;
}

.days {
  max-width: 80vw;
  display: flex;
  gap: 48px;
  margin-left: 32px;
  overflow-x: auto;
}

.days::-webkit-scrollbar {
  display: none;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  color: #a1a1aa;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
  line-height: 125%;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  color: #fefefe;
  padding: 16px 24px;
  border: 1px solid hsla(258, 90%, 66%, 1);
  border-radius: 8px;
  line-height: 125%;
  cursor: pointer;
}

.bi-plus-lg {
  font-size: 18px;
  color: hsla(258, 90%, 66%, 1);
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background-color: #18181b;
}

input:checked {
  background-color: hsla(258, 90%, 66%, 1);
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}
